* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 0.1;
  background-color: #40424b;
}

.logo {
  color: aliceblue;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}

.nav {
  flex: 0.1;
  background-color: #8c8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.nav-main {
  display: flex;
  justify-content: center;
  flex: 2;
  flex-shrink: 0.1;
  flex-wrap: nowrap;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.nav .search {
  padding: 10px;
}

input[type='text'] {
  width: 350px;
  border-radius: 6px;
  border: none;
}

.btn {
  color: white;
  background-color: rgb(58, 57, 57);
  border: none;
  font-weight: 700;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(80, 79, 79);
}

/* SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 40.5px;
  height: 22.95px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17.55px;
  width: 17.55px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17.55px);
  -ms-transform: translateX(17.55px);
  transform: translateX(17.55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tempLabel {
  font-size: 18px;
  font-weight: 500;
  color: rgb(58, 57, 57);
}
.content {
  flex: 1;
}

.footer {
  flex: 0.05;
}
